[Desktop Entry]
Name=Tabata Timer
Comment=Entrenamiento de alta intensidad
Exec=/usr/bin/tabata-app
Icon=/usr/share/icons/hicolor/scalable/apps/tabata-icon.svg
Terminal=false
Type=Application
Categories=Utility;Sports;
Keywords=Tabata;Fitness;Timer;