Source: my-tabata
Section: utils
Priority: optional
Maintainer: Marco Baturan <marco.baturan@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               pybuild-plugin-pyproject,
               python3-all,
               python3-setuptools
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/marcobaturan/tabata_app

Package: python3-my-tabata
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-tk,
         mpv,
         ffmpeg
Description: Minimalist Tabata timer for high-intensity training
 A simple and effective Tabata timer written in Python and Tkinter.
 It includes sound alerts (requires mpv) and a clean interface.